<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pkleczek.profiwan"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:name="ProfIwanApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pkleczek.profiwan.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pkleczek.profiwan.dictionary.DictionaryActivity"
            android:label="@string/title_activity_dictionary" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pkleczek.profiwan.MainActivity" />
        </activity>
        <activity
            android:name="pkleczek.profiwan.dictionary.DictionaryEditActivity"
            android:label="@string/title_activity_dictionary_edit" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pkleczek.profiwan.dictionary.DictionaryActivity" />
        </activity>
        <activity
            android:name="pkleczek.profiwan.revisions.RevisionsActivity"
            android:label="@string/title_activity_revisions" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pkleczek.profiwan.MainActivity" />
        </activity>
        <activity
            android:name="pkleczek.profiwan.revisions.RevisionsEnteredActivity"
            android:label="@string/title_activity_revisions_entered" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pkleczek.profiwan.MainActivity" />
        </activity>
        <activity
            android:name="pkleczek.profiwan.revisions.RevisionsEditActivity"
            android:label="@string/title_activity_revisions_edit" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pkleczek.profiwan.revisions.RevisionsEnteredActivity" />
        </activity>
    </application>

</manifest>